{% load static %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon Section -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'recognition/img/favicon.ico' %}"
    />

    <!-- Title Section -->
    <title>Smart Attendance System</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <style>
      body {
        background: url('{% static "recognition/img/bg_date.jpg"%}') no-repeat
          center center fixed;
        background-size: cover;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button style="border: none">
        <a class="navbar-brand" href="{%url 'view-attendance-home' %}"
          ><b>Attendance Dashboard</b></a
        >
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <button
              style="
                margin-left: 50px;
                border: none;
                background: rgb(180, 50, 74);
              "
            >
              <a class="nav-link" href="{%url 'view-attendance-employee' %}"
                ><b>By Employee</b></a
              >
            </button>
          </li>
          <li class="nav-item active">
            <button
              style="
                margin-left: 50px;
                border: none;
                background: rgb(50, 95, 167);
              "
            >
              <a class="nav-link" href="{% url 'view-attendance-date' %}"
                ><b>By Date</b></a
              >
            </button>
          </li>

          <li class="nav-item active" style="padding-left: 980px">
            <button style="border: none; background: red">
              <a class="nav-link" href="{% url 'dashboard' %}"
                ><b>Back to Admin Panel</b></a
              >
            </button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" style="padding-left: 350px; margin-top: 110px">
      <div style="width: 400px; border: 2px solid white; padding: 5px 10px">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group" style="color: white">
            <legend class="border-bottom mb-4">
              <b style="color: #fc8983">Select Date</b>
            </legend>
            {{form| crispy}}
          </fieldset>

          <div class="form-group">
            <button class="btn btn-outline-info" type="submit" value="Create">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>

    <div
      style="
        width: 100%;
        height: 300px;
        {% comment %} border: 2px solid red; {% endcomment %}
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
      "
    >
      {% if qs %}

      <table
        class="table"
        style="margin-top: 5em; border: 2px solid black; color: white"
      >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>

            <th scope="col">Employee</th>
            <th scope="col">Present</th>
            <th scope="col">Time in</th>
            <th scope="col">Time out</th>
            <th scope="col">Hours</th>
            <th scope="col">Break Hours</th>
          </tr>
        </thead>
        <tbody>
          {% for item in qs %}
          <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.user.username}}</td>
            {% if item.present %}
            <td>P</td>
            {% else %}
            <td>A</td>
            {% endif %} {% if item.time_in %}
            <td>{{ item.time_in }}</td>
            {% else %}
            <td>-</td>
            {% endif %} {% if item.time_out %}
            <td>{{ item.time_out }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            <td>{{item.hours}}</td>
            <td>{{item.break_hours}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div style="width: 1200px; height: 500px; padding-left: 400px">
      <div class="card" style="margin-top: 5em; margin-bottom: 10em">
        <img
          class="card-img-top"
          src="{% static 'recognition/img/attendance_graphs/hours_vs_employee/1.png'%}"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text" style="text-align: center">
            <b>Number of hours worked each day.</b>
          </p>
        </div>
      </div>

      {% endif %} {% if messages %} {% for message in messages%}
      <div class="alert alert-{{message.tags}}">{{message}}</div>
      {%endfor %} {%endif%}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
